body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the body height to full viewport height */
  background-color: #f8f8f8; /* Lighter background color */
  overflow:hidden;
  margin:0;

}

.progress-message {
  text-align: left;
  margin-top: 10px;
  width: 100%; /* Set the width to match the progress bar container */
  margin: 0 auto; /* Center the additional info within the container */
  font-size: 150%;
  color: #f8f8f8;
}

.progress-container {
  z-index: 0;
  width: 100%;
  height: 48px;
  background: #343434;
  box-shadow: 1px 1px 10px #00000077;
  margin-top: 7%;
}

.progress-bar {
  background: linear-gradient(to right, #c505ab, #740064);
  border-color: white; /* Default background color */
  height: 100%;
  border-radius: 0px;
  width: 334%;
  transition: width 1s ease-in-out; /* Add transition for width property */

}

.extra-info {
  text-align: left;
  margin-top: 10px;
  width: 100%; /* Set the width to match the progress bar container */
  margin: 0 auto; /* Center the additional info within the container */
  padding-top: 10%;
  color: #f8f8f8;


}
#extra-info p {
  margin: 20px 0;
}

  /* Add a z-index to ensure the fireworks are behind the progress bar */
  #fireworks-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Behind the progress bar */
  }
    /* Style the New Year message */
    .new-year-message {
      color: #ff4081; /* Pink color */
      font-size: 18px;
      margin-top: 10px;
      text-align: center; /* Center the text */
      line-height: 1.2; /* Adjust line height for spacing */
      animation: glow 2s infinite alternate; /* CSS animation for the glow effect */
    }
  
    .new-year-message .year {
      color: #009688; /* Change the color of the year (you can use any color code) */
    }
    @keyframes glow {
      from {
        text-shadow: 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081;
      }
      to {
        text-shadow: 0 0 20px #ff4081, 0 0 30px #ff4081, 0 0 40px #ff4081;
      }
    }
    /* .new-year-message {
      font-size: 18px;
      margin-top: 10px;
      text-align: center; 
      line-height: 1.2; 
      animation: colorChange 1s infinite alternate; 
    }
  
    .new-year-message .year {
      color: #009688; 
    }
    @keyframes glow {
      from {
        text-shadow: 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081;
      }
      to {
        text-shadow: 0 0 20px #ff4081, 0 0 30px #ff4081, 0 0 40px #ff4081;
      }
    }
   */
    /* @keyframes colorChange {
      0%, 100% {
        text-shadow: 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081;
        color: #009688;
      }
      25% {
        text-shadow: 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081;
        color: #ff4081;
      }
      50% {
        text-shadow: 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081;
        color: #00bcd4;
      }
      75% {
        text-shadow: 0 0 10px #ff4081, 0 0 20px #ff4081, 0 0 30px #ff4081;
        color: #4caf50; 
      }
    }
   */